body {
    background-color: #000018;
    border: 0.1rem dashed rgb(0, 166, 255);
    color: white;
    opacity: 0.93;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
}

hr {
    height: 0.5rem;
    background: #79d0ed;
    box-shadow: 0 0 12px #44889e,  /* outer glow */
              0 0 24px #79d0ed;  /* stronger secondary glow */
}

#landing_page {
  max-width: 50%;
  height: 50%;
  display: block;
  margin: 4rem auto;
}

/* Comic */
    button {
        background-color: black;
        border: solid 1px rgb(0, 166, 255);
        border-radius: 10px;
        color: white;
        margin-top: 1.3rem;
        padding: 0.8rem;
    }

    button:hover {
        background-color:rgba(250, 235, 215, 0.161);
        cursor: pointer;
        font-weight: bold;
    }

    /* Keyframe to make glow */
    @keyframes glowPulse {
        0% {
            filter: drop-shadow(0 0 5px #79d0ed);
        }
        50% {
            filter: drop-shadow(0 0 20px #79d0ed);
        }
        100% {
            filter: drop-shadow(0 0 5px #79d0ed);
        }
    }